@{
    ViewBag.Title = "Index";
}
@section styles{
    <link href="~/Content/sadmin/sadmin.css" rel="stylesheet" />
    <style>
        .content {
            margin-left: 10px;
        }
    </style>
}
@model List<Menu>
<div class="main">
    <div class="sidebar">
        <ul class="nav nav-list nav-list-wathet">
            @foreach (var item in Model.Where(p => p.ParentID == 0))
            {
                <li>
                    <a href="javascript:;" data-url="@item.Link" data-id="@item.ID">
                        @item.MenuName
                        @{var childcount = Model.Where(p => p.ParentID == item.ID).Count();}
                        @if (childcount > 0)
                        {
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        }
                    </a>
                    @if (childcount > 0)
                    {
                        <ul class="nav nav-list-child">
                            @foreach (var child in Model.Where(p => p.ParentID == item.ID))
                            {
                                <li>
                                    <a href="javascript:;" data-url="@child.Link" data-id="@child.ID">@child.MenuName</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="sideright">
        <div class="page-tabs">
            <ul class="tabs">
                <li class="tab-selected" data-id="-1">
                    <span class="tab-close">&times;</span>
                    <a href="javascript:;">
                        首页
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <iframe frameborder='0' style='width:100%;' onload='this.height = this.contentWindow.document.documentElement.scrollHeight' id='iframe-1' src="/system/menu"></iframe>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/sadmin/sadmin.js"></script>
    <script>
        $(function () {

        });       
    </script>
}
